


<div class="container ">
    <div class="row ">
        <div class="center">
            <h3> {{ event.name }}</h3>
        </div>
        <div class="center">

            <div class="carousel center " data-indicators="true">
                {% for epreuve in tabEpreuve %}

                    <a class="carousel-item" href="#one!"><h6>{{ epreuve.nom }}</h6><img src="/{{ epreuve.image }}"></a>

                {% endfor %}

            </div>

        </div>

    </div>

    <div class="row ">
        <div class="col s12 m6 l6 card small">
            <p>{{ event.description }}</p>
        </div>
        <div class=" col s12 m6 l6 card small">
            <p>{{ organiser.nom }}  {{ organiser.prenom }}</p><br>
            <p>Telephone : {{ organiser.telephone }} </p><br>
            <p>Email : {{  organiser.email }}</p><br>
            {%if organiser.association is defined %}
            <p>Site :<a href="{{ organiser.siteweb }}" >{{  organiser.siteweb }}</a></p>
            {% endif %}
        </div>
    </div>

    <div class="row">
        {% for epreuve in tabEpreuve%}
        <div class="col s12 m4 l4 card medium">
            <h6> {{ epreuve.nom }}</h6>
            <p style="height:20%;overflow:scrollable">{{ epreuve.description }} </p>
            <p>Discipline : {{ epreuve.discipline }} </p>
            <p>Date : {{ epreuve.date }} </p>
            <p>Nombre de participant maximum : {{ epreuve.nb_participants_max }} </p>
            <p>Nombre de participant  : {{ epreuve.nb_participants }} </p>
            <p>Prix : {{ epreuve.prix }}€ </p>
            {% if epreuve.nb_participants >= epreuve.nb_participants_max   %}
              <a class="btn waves-effect waves-light teal lighten-1 inscription" id="{{ epreuve.id }}" disabled="" href=""> S'inscrire</a>
            {% else %}
              {% if epreuve.participe %}
                <div id="modal{{epreuve.id}}" class="modal">
                  <div class="modal-content">
                    <h4>Inscription à {{epreuve.nom }}</h4>
                    <p>Vous souhaitez vous inscrire à cette épreuve ?
                      Cependant, vous participé déjà à cette épreuve :(
                      Néanmoins vous pouvez vous inscrire à nos autres épreuves!
                    </p>
                  </div>
                  <div class="modal-footer">
                    <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Retour</a>

                  </div>
                </div>
                <a class="btn waves-effect waves-light teal lighten-1 inscription" id="{{ epreuve.id }}"  href="#modal{{ epreuve.id }}"> S'inscrire</a>
              {% else %}
                <div id="modal{{epreuve.id}}" class="modal">
                  <div class="modal-content">
                    <h4>Inscription à {{epreuve.nom }}</h4>
                    <p>Vous souhaitez vous inscrire à cette épreuve ?
                      Pour participer et faire parti de la liste de nos participants vous devez nous règler la somme de {{ epreuve.prix }}.
                      Vous pouvez également payer plus tard en jetant un coup d'oeil dans votre panier!
                    </p>
                  </div>
                  <div class="modal-footer">
                    <a href="/inscription/{{ epreuve.id }}" class=" modal-action modal-close waves-effect waves-green btn-flat">Payer tout de suite</a>
                    <a href="/addpanier/{{ epreuve.id }}" class=" modal-action modal-close waves-effect waves-green btn-flat">Payer plus tard</a>
                  </div>
                </div>
                {% if tabGroups|length > 0 %}
                  <a class="btn dropdown-button" href="#!" data-activates="dropdown{{epreuve.id}}">S'inscrire<i class="material-icons right">arrow_drop_down</i></a>
                  <ul id="dropdown{{epreuve.id}}" class="dropdown-content">
                      <li><a id="{{ epreuve.id }}"  href="#modal{{ epreuve.id }}" class="teal-text">Seul</a></li>
                      <li class="divider teal"></li>
                      {% for group in tabGroups %}
                      <li><a id="{{ epreuve.id }}"  href="#modal{{ epreuve.id }}{{group.id}}" class="teal-text">{{group.nom}}</a></li>
                      <li class="divider teal"></li>
                      {% endfor %}
                  </ul>
                  {% for group in tabGroups %}
                  <div id="modal{{epreuve.id}}{{group.id}}" class="modal">
                    <div class="modal-content">
                      <h4>Inscription à {{epreuve.nom }}</h4>
                      <p>Vous souhaitez vous inscrire à cette épreuve ?
                        Pour participer et faire parti de la liste de nos participants vous devez nous règler la somme de {{ epreuve.prix }}.
                        Vous pouvez également payer plus tard en jetant un coup d'oeil dans votre panier!
                      </p>
                    </div>
                    <div class="modal-footer">
                      <a href="/inscription/{{ epreuve.id }}" class=" modal-action modal-close waves-effect waves-green btn-flat">Payer tout de suite</a>
                      <a href="/addpanier/{{ epreuve.id }}/{{group.id}}" class=" modal-action modal-close waves-effect waves-green btn-flat">Payer plus tard</a>
                    </div>
                  </div>
                  {% endfor %}

                {% else %}
                  <a class="btn waves-effect waves-light teal lighten-1 inscription" id="{{ epreuve.id }}"  href="#modal{{ epreuve.id }}"> S'inscrire</a>
                {% endif %}
              {% endif %}
            {% endif %}
        </div>

        {% endfor %}

    </div>



</div>
