<!doctype html>
<html lang="fr">
<head>


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/css.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/grid.css" media="screen,projection"/>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/grid.css" media="screen,projection"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize/css/materialize.min.css" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SportNet</title>
</head>

<body>
<ul id="dropdown1" class="dropdown-content dropdown ">
    <li><a href="/profil" class="teal-text">Voir profil</a></li>
    <li class="divider teal"></li>
    <li><a href="/editprofil" class="teal-text">Editer profil</a></li>
    <li class="divider teal"></li>
    <li><a href="/logout" class="teal-text">Deconnexion</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content dropdown">
    <li><a href="/createevent" class="teal-text">Créer un évènement</a></li>
    <li class="divider teal"></li>
    <li><a href="/manageEvents" class="teal-text">Gérer un évènement</a></li>
</ul>

<ul id="dropdown3" class="dropdown-content dropdown ">
    <li><a href="/profil" class="teal-text">Voir profil</a></li>
    <li class="divider teal"></li>
    <li><a href="/editprofil" class="teal-text">Editer profil</a></li>
    <li class="divider teal"></li>
    <li><a href="/logout" class="teal-text">Deconnexion</a></li>
</ul>

<ul id="dropdown5" class="dropdown-content dropdown">
    <li><a href="/signupuser" class="teal-text">Participant</a></li>
    <li class="divider teal"></li>
    <li><a href="/signuporg" class="teal-text">Organisateur</a></li>

</ul>

<ul id="dropdown4" class="dropdown-content dropdown">
    <li><a href="/loginuser" class="teal-text">Participant</a></li>
    <li class="divider teal"></li>
    <li><a href="/loginorg" class="teal-text">Organisateur</a></li>

</ul>


<ul id="dropdown6" class="dropdown-content dropdown ">
    <li><a href="/profil" class="teal-text">Voir profil</a></li>
    <li class="divider teal"></li>
    <li><a href="/editprofil" class="teal-text">Editer profil</a></li>
    <li class="divider teal"></li>
    <li><a href="/logout" class="teal-text">Deconnexion</a></li>
</ul>

<ul id="dropdown7" class="dropdown-content dropdown">
    <li><a href="/createevent" class="teal-text">Créer un évènement</a></li>
    <li class="divider teal"></li>
    <li><a href="/manageEvents" class="teal-text">Gérer un évènement</a></li>
</ul>

<ul id="dropdown8" class="dropdown-content dropdown ">
    <li><a href="/profil" class="teal-text">Voir profil</a></li>
    <li class="divider teal"></li>
    <li><a href="/editprofil" class="teal-text">Editer profil</a></li>
    <li class="divider teal"></li>
    <li><a href="/logout" class="teal-text">Deconnexion</a></li>
</ul>

<ul id="dropdown10" class="dropdown-content dropdown">
    <li><a href="/signupuser" class="teal-text">Participant</a></li>
    <li class="divider teal"></li>
    <li><a href="/signuporg" class="teal-text">Organisateur</a></li>

</ul>

<ul id="dropdown9" class="dropdown-content dropdown">
    <li><a href="/loginuser" class="teal-text">Participant</a></li>
    <li class="divider teal"></li>
    <li><a href="/loginorg" class="teal-text">Organisateur</a></li>

</ul>



<ul class="side-nav" id="mobile-demo">
    <li><a href="/search" class="btn waves-effect waves-light teal">Recherche</a></li>
    {% if user is null and  org is null%}
        <li><a class="dropdown-button" href="#!" data-activates="dropdown9">Connexion<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown10">Inscription<i class="material-icons right">arrow_drop_down</i></a></li>
    {% else %}
        {% if org is defined %}
            <li><a class="dropdown-button" href="#!" data-activates="dropdown6">{{ org.prenom }} {{ org.nom }}<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown7">mes évènements<i class="material-icons right">arrow_drop_down</i></a></li>
        {% else %}
            <li><a class="dropdown-button" href="#!" data-activates="dropdown8">{{ user.prenom }} {{ user.nom }}<i class="material-icons right">arrow_drop_down</i></a></li>

        {% endif %}
    {% endif %}
</ul>


<nav>
    <div class="nav-wrapper teal ">
        <a href="/" class="brand-logo">SportNet</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right valign-wrapper hide-on-med-and-down">
            <li><a href="/search" class="btn waves-effect waves-light teal">Recherche</a></li>
            {% if user is null and  org is null%}
                <li><a class="dropdown-button" href="#!" data-activates="dropdown4">Connexion<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown5">Inscription<i class="material-icons right">arrow_drop_down</i></a></li>
            {% else %}
                {% if org is defined %}
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{ org.prenom }} {{ org.nom }}<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown2">mes évènements<i class="material-icons right">arrow_drop_down</i></a></li>
                {% else %}
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown3">{{ user.prenom }} {{ user.nom }}<i class="material-icons right">arrow_drop_down</i></a></li>

                {% endif %}
            {% endif %}
        </ul>
    </div>
</nav>
<main>
