<div id="index-banner" class="parallax-container" style="width: 100%;height: auto">
    <div class="section no-pad-bot">
        <div class="container ">
            <br><br>
            <h1 class="header center white-text text-lighten-2">SportNet</h1>
            <div class="row center">
                <h5 class="header span-12 white-text light"></h5>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="images/home.jpg"></div>
</div>

<div class="container">
    <div class="row">
        <h5>Votre prochain évènement :</h5>
        {% if next_event|length == 1 %}
        <div class="card  blue-grey darken-1 col s12 m5 l5 offset-m4 offset-l4">
            <div class="card-content white-text">
                <span class="card-title">{{ next_event.nom }}</span>
                <p>Date : {{ next_event.date_debut }}</p>
                <p>Nombre participant : {{ next_event.nb_participants }}</p>
                <p>Nombre d'épreuves : {{ next_event.nb_epreuve }}</p>
                <p>Etat : {{ next_event.etat }}</p>
            </div>
            <div class="card-action">
                <a href="/anEvent/{{ next_event.id_evenement }}">Voir</a>
            </div>
        </div>
        {% else %}
            <div class="row col s12 m8 l8 center card-panel "><h4>Vous n'êtes pas encore inscrit à un évènement
                </h4></div>
        {% endif %}
</div>
<div class="section">

    <h5>Vos dernier résultats :</h5>
    {% if results  |length <= 0 %}
        <div class="row col s12 m8 l8 center card-panel "><h4>Vous n'avez pas encore de resultats
            </h4></div>

    {% else %}
        <div class="row">
            {% for r in results %}
                <div class="card  small blue-grey darken-1 col s12 m3 offset-m1 l3 offset-l1">
                    <div class="card-content white-text">
                        <span class="card-title">{{ r.nom }}</span>
                        <p>Evenement : {{ r.nomE }}</p>
                        <p>Date : {{ r.date }}</p>
                        <p>Temps : {{ r.temps }}</p>
                        <p>Classement : {{ r.classement }}</p>
                    </div>
                    <div class="card-action">
                        <a href="/resultat/{{ r.id_epreuve }}">Voir</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
</div>
