<div id="index-banner" class="parallax-container" style="width: 100%;height: auto">
    <div class="section no-pad-bot">
        <div class="container ">
            <br><br>
            <h1 class="header center white-text text-lighten-2">SportNet</h1>
            <div class="row center">
                <h5 class="header span-12 white-text light"></h5>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="images/home.jpg"></div>
</div>

<div class="container">
    <div class="section">
        <h5>Votre prochain événement :</h5>
        <div class="row">
            <div class="card blue-grey darken-1 col s12 m5 l5 offset-m4 offset-l4">
                <div class="card-content white-text">
                    <span class="card-title">{{ e.nom }}</span>
                    <p>Date : {{ e.date_debut }}</p>
                    <p>Nombre participant : {{ e.nb_participant}}</p>
                    <p>Nombre d'épreuves : {{e.nb_epreuve}}</p>
                    <p>Etat : {{e.etat}}</p>
                </div>
                <div class="card-action">
                    <a href="/anEventOrg">Gérer</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <h5>Vos événements passés :</h5>
        <div class="row">
            <div class="card blue-grey darken-1 col s12 m5 offset-m1 l5 offset-l1">
                <div class="card-content white-text">
                    <span class="card-title">Envent name</span>
                    <p>Date : 15/05/2016</p>
                    <p>Nombre participant : 1200</p>
                    <p>Etat : ouvert</p>
                </div>
                <div class="card-action">
                    <a href="#">Gérer</a>
                </div>
            </div>
            <div class="card blue-grey darken-1 col s12 m4 l5 offset-l1">
                <div class="card-content white-text">
                    <span class="card-title">Envent name</span>
                    <p>Date : 15/05/2016</p>
                    <p>Nombre participant : 1200</p>
                    <p>Etat : ouvert</p>
                </div>
                <div class="card-action">
                    <a href="#">Voir</a>
                </div>
            </div>
        </div>
    </div>

</div>