<div class="container">
    {% if events  |length <= 0 %}

    <div class="row col s12 m8 l8 center card-panel "><h4>Vous n'avez pas encore créé d'évènements, pour commencer

            rendez vous sur
            <a href="/createevent">Créer un évènement</a>
        </h4></div>

    {% else %}
    <div class="section">
        <h5>Vos événement :</h5>
        <div class="row">
            {% for e in events %}
                {% if events|length == 1 %}
                    <div class="card blue-grey darken-1 col s12 m5 l5 offset-m4 offset-l4">
                        <div class="card-content white-text">
                            <span class="card-title">{{ e.nom }}</span>
                            <p>Date : {{ e.date_debut }}</p>
                            <p>Nombre participant : {{ e.nb_participants }}</p>
                            <p>Nombre d'épreuves : {{ e.nb_epreuve }}</p>
                            <p>Etat : {{ e.etat }}</p>
                        </div>
                        <div class="card-action">
                            <a href="">Gérer</a>
                        </div>
                    </div>
                {% elseif events|length == 2 %}
                    <div class="card blue-grey darken-1 col s12 m5 l5 offset-m1 offset-l1">
                        <div class="card-content white-text">
                            <span class="card-title">{{ e.nom }}</span>
                            <p>Date : {{ e.date_debut }}</p>
                            <p>Nombre participant : {{ e.nb_participants }}</p>
                            <p>Nombre d'épreuves : {{ e.nb_epreuve }}</p>
                            <p>Etat : {{ e.etat }}</p>
                        </div>
                        <div class="card-action">
                            <a href="/anEventOrg/{{ e.id }}">Gérer</a>
                        </div>
                    </div>
                {% else %}
                    <div class="card blue-grey darken-1 col s12 m3 offset-m1 l3 offset-l1">
                        <div class="card-content white-text">
                            <span class="card-title">{{ e.nom }}</span>
                            <p>Date : {{ e.date_debut }}</p>
                            <p>Nombre participant : {{ e.nb_participants }}</p>
                            <p>Nombre d'épreuves : {{ e.nb_epreuve }}</p>
                            <p>Etat : {{ e.etat }}</p>
                        </div>
                        <div class="card-action">
                            <a href="/anEventOrg/{{ e.id }}">Gérer</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
{% endif %}
