<div class="container">
  <div class="row">
    <h3>{{ event.nom }}</h3>
    <h4>Liste des participants à l'épreuve : {{ epreuve.nom }}</h4>
      <table class="bordered">
        <thead>
          <tr>
              <th>Nom Prénom</th>
              <th>Adresse email</th>
              <th>Téléphone</th>
              <th>Numéro de dossard</th>
          </tr>
        </thead>

        <tbody>
          {% for participants in tabParticipants %}
          <tr>
            <td>{{ participants.nom }}  {{ participants.prenom }}</td>
            <td>{{ participants.email }}</td>
            <td>{{ participants.telephone }}</td>
            <td>{{ participants.doss }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="row">
      <a class="btn waves-effect waves-light" href="/participantscsv/{{epreuve.id}}participants.csv">Télécharger <i class="material-icons right">file_download</i></a>
    </div>
</div>
