<div class="container">
    <div class="card-panel">
        <div class="row">
            <p>Nom : {{ user.nom }}</p>
            <p>Prenom : {{ user.prenom }}</p>
            <p>Email : {{ user.email}}</p>
            <p>Téléphone : {{ user.telephone}}</p>
            {% if isOrg %}
                <p>Association : {{ user.nom_association }}</p>
                <p>Site web : <a href="http://{{ user.siteweb }}">{{ user.siteweb }}</a></p>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div class="section">
        <h5>Vos prochaines épreuves :</h5>
        {% if events  |length <= 0 %}
        <div class="row col s12 m8 l8 center card-panel "><h4>Vous n'avez pas encore créé d'évènements, pour commercer
                rendez vous sur
                <a href="/createevent">Créer un évènement</a>
            </h4></div>

        {% else %}
        <div class="section">
            <h5>Vos événement :</h5>
            <div class="row">
                {% for e in events %}
                    {% if events|length == 1 %}
                        <div class="card blue-grey darken-1 col s12 m5 l5 offset-m4 offset-l4">
                            <div class="card-content white-text">
                                <span class="card-title">{{ e.nom }}</span>
                                <p>Date : {{ e.date_debut }}</p>
                                <p>Nombre participant : {{ e.nb_participants }}</p>
                                <p>Nombre d'épreuves : {{ e.nb_epreuve }}</p>
                                <p>Etat : {{ e.etat }}</p>
                            </div>
                            <div class="card-action">
                                <a href="/anEvent/{{ e.id_evenement }}">Voir</a>
                            </div>
                        </div>
                    {% elseif events|length == 2 %}
                        <div class="card blue-grey darken-1 col s12 m5 l5 offset-m1 offset-l1">
                            <div class="card-content white-text">
                                <span class="card-title">{{ e.nom }}</span>
                                <p>Date : {{ e.date_debut }}</p>
                                <p>Nombre participant : {{ e.nb_participants }}</p>
                                <p>Nombre d'épreuves : {{ e.nb_epreuve }}</p>
                                <p>Etat : {{ e.etat }}</p>
                            </div>
                            <div class="card-action">
                                <a href="/anEventOrg/{{ e.id }}">Gérer</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="card blue-grey darken-1 col s12 m3 offset-m1 l3 offset-l1">
                            <div class="card-content white-text">
                                <span class="card-title">{{ e.nom }}</span>
                                <p>Date : {{ e.date_debut }}</p>
                                <p>Nombre participant : {{ e.nb_participants }}</p>
                                <p>Nombre d'épreuves : {{ e.nb_epreuve }}</p>
                                <p>Etat : {{ e.etat }}</p>
                            </div>
                            <div class="card-action">
                                <a href="/anEventOrg/{{ e.id }}">Gérer</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}

    <div class="section">
        <h5>Vos dernier résultats :</h5>
        {% if results  |length <= 0 %}
        <div class="row col s12 m8 l8 center card-panel "><h4>Vous n'avez pas encore créé de resultats
            </h4></div>

        {% else %}
            <div class="row">
                {% for r in results %}
                    {% if results|length == 1 %}
                        <div class="card blue-grey darken-1 col s12 m5 l5 offset-m4 offset-l4">
                            <div class="card-content white-text">
                                <span class="card-title">{{ r.nom }}</span>
                                <p>Evenement : {{ r.nomE }}</p>
                                <p>Date : {{ r.date }}</p>
                                <p>Temps : {{ r.temps }}</p>
                                <p>Classement : {{ r.classement }}</p>
                            </div>
                            <div class="card-action">
                                <a href="/resultat/{{ r.id_evenement }}">Voir</a>
                            </div>
                        </div>
                    {% elseif events|length == 2 %}
                        <div class="card blue-grey darken-1 col s12 m5 l5 offset-m1 offset-l1">
                            <div class="card-content white-text">
                                <span class="card-title">{{ r.nom }}</span>
                                <p>Evenement : {{ r.nomE }}</p>
                                <p>Date : {{ r.date }}</p>
                                <p>Temps : {{ r.temps }}</p>
                                <p>Classement : {{ r.classement }}</p>
                            </div>
                            <div class="card-action">
                                <a href="/resultat/{{ r.id_evenement }}">Voir</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="card blue-grey darken-1 col s12 m3 offset-m1 l3 offset-l1">
                            <div class="card-content white-text">
                                <span class="card-title">{{ r.nom }}</span>
                                <p>Evenement : {{ r.nomE }}</p>
                                <p>Date : {{ r.date }}</p>
                                <p>Temps : {{ r.temps }}</p>
                                <p>Classement : {{ r.classement }}</p>
                            </div>
                            <div class="card-action">
                                <a href="/resultat/{{ r.id_evenement }}">Voir</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>